.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 375px;
  padding: 12px 16px 12px 24px;
  box-sizing: border-box;
}

.icon-search {
  width: 20px;
  height: 20px;
  gap: 12px;
}

.icon-logo {
  width: 161.25px;
  height: 23.8px;
}

.icon-cart {
  width: 20px;
  height: 20px;
  gap: 12px;
}

/*adicionar produto carrinho*/
.carrinho-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.badge-carrinho {
  position: absolute;
  top: -1px;
  right: -4px;
  background-color: #C8102E; /* Vermelho do tema */
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;


line-height: 22px;
letter-spacing: 0.02em;


}